* {
    word-break: break-word;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
    display: block;
    font-family: Noto Sans KR;
}

main, section {
    display: block;
}

section {
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

h1 {
    line-height: 3.125rem;
    font-size: 2.125rem;
    font-weight: 500;
    color: #323232;
    margin: 3rem 0!important;
    display: block;
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

img {
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
}

input {
    overflow: visible;
    margin: 0;
}

#app {
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
    opacity: 1;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
    transition: opacity .3s ease-in;
}

.container {
    max-width: 630px;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-left: 636.5px;
    margin-right: auto;
    margin-left: auto;
}

.container-md {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    
}

.form-group {
    margin-bottom: 1rem;
}

.pt-0, .py-0 {
    padding-top: 0!important;
}

.col-form-label {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

input.form-control.is-valid {
    background-image: none;
}

.form-control.is-valid {
    border-color: #ccc;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin: 3rem 0 5rem;
}

.button-group .btn-cancel.btn-active {
    color: #655dbb!important;
    background: #fff;
}

.button-group .btn-cancel {
    color: #655dbb!important;
    border: 0.0625rem solid #e1e1e1;
}

.button-group>.btn {
    max-width: 8.875rem;
}

.button-group>.btn {
    flex: 1;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-primary {
    color: #fff;
    background-color: #655dbb!important;
    border-color: #655dbb!important;	
}

.button-group>.btn+.btn {
    display: flex;
    justify-content: center;
    margin-left: 0.75rem;
}

.btn-active {
    text-decoration: none;
    border: none;
}

.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fa5963;
}

#app-header {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.global-header {
    z-index: 1020;
    display: block;
}

#app-header {
    border-bottom: 0.0625rem solid #f2f2f2;
    height: 4.5rem;
}

section.d-none {
	margin: 0px;
}