@charset "UTF-8";

*{
    word-break: break-word;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
    font-family: Noto Sans KR;
}

div {
    display: block;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
    color: #323232;
    background-color: transparent;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
    vertical-align: middle;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
    margin-top: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


#app {
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    opacity: 1;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

.container {
    max-width: 630px;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-left: 636.5px;
    margin-right: auto;
    margin-left: auto;
}

.container-md {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    
}


.mypage-container .mypage-title {
    font-size: 2.125rem;
    padding: 3.125rem 0;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: -.0462rem;
    color: #323232;
    margin: 0;
}

.underline {
    border-bottom: 0.0625rem solid;
    border-color: #f2f2f2;
}

.profile-container {
    font-size: 0;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    position: relative;
    background-color: #fff;
    z-index: 3;
}

.profile-container .profile-setting {
    display: flex;
    align-items: center;
}

.thumb {
    width: 4.375rem;
    height: 4.375rem;
    min-width: 4.375rem;
    border-radius: 0.75rem;
    overflow: hidden;
    border: 0.0625rem solid #f2f2f2;
}

.user-profile-picture {
    position: relative;
}

.h-100 {
    height: 100%!important;
}

.user-profile-picture div[data-name=image].is-square {
    border-radius: 0.75rem;
    padding: 0;
    height: 100%;
}

.user-profile-picture div[data-name=image] {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.0625rem solid #f2f2f2;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #e1e1e1;
}

.user-info {
    flex: 1;
    overflow: hidden;
    text-align: left;
    padding-left: 0.75rem;
}

.user-name {
    display: flex;
    flex: 1;
    font-size: 1.125rem;
    font-weight: 500;
    color: #323232;
}

.name-length {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0.3125rem;
}

.user-name .user-type {
    flex: 0 0 auto;
    padding-right: 1rem;
}

.user-id {
    display: flex;
    font-size: .75rem;
    color: #b5b5b5;
}

.user-id img {
    margin-right: 0.25rem;
}

.id-length {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 11.6875rem;
}

.profile-container .account-setting .btn-account-setting{
    border: none;
    border-radius: 12px;
    background-color: #f2f2f2;
    padding: 0.25rem 0.625rem;
    font-size: .75rem;
    color: #737373;
    font-weight: 500;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.my-page-menu .main-menu {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    font-size: 1.125rem;
    font-weight: 700;
    color: #323232;
}

.my-page-menu ul {
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
}

.sub-menu-container {
    padding: 1rem 0;
}

.sub-menu-list {
    position: relative;
    display: flex;
    align-items: center;
}

.sub-content {
    flex: auto;
    text-align: left;
}

.sub-menu {
    display: block;
}

.sub-menu-title {
    font-size: 1rem;
    font-weight: 500;
    color: #323232;
    padding: 0;
}

.arrow {
    font-size: 0;
}

.right-arrow {
    font-size: .75rem;
}

.profile-container a {
    display: flex;
    align-items: center;
}

.coupon-btn {
    position: relative;
    font-size: .875rem;
    font-weight: 500;
    text-align: left;
    line-height: normal;
    color: #323232;
    border-radius: 8px;
    border: 0.0625rem solid #f2f2f2;
    background-color: #fafafa;
    padding: 1rem 0 1rem 3rem;
    margin-top: 1.375rem;
    margin-bottom: 0.5rem;
}

.coupon-btn::before {
    width: 1.5rem;
    height: 1.5rem;
    left: 1rem;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIxIDVhMSAxIDAgMDExIDF2My4xNWExIDEgMCAwMS0uMjIuNjI0bC0uNzguOTc2YTIuMDAxIDIuMDAxIDAgMDAwIDIuNWwuNzguOTc2YTEgMSAwIDAxLjIyLjYyNVYxOGExIDEgMCAwMS0xIDFIM2ExIDEgMCAwMS0xLTF2LTMuMTVhMSAxIDAgMDEuMjItLjYyNEwzIDEzLjI1YTIgMiAwIDAwMC0yLjVsLS43OC0uOTc2QTEgMSAwIDAxMiA5LjE0OVY2YTEgMSAwIDAxMS0xaDE4em0tNi43NSA4YTEuMjUgMS4yNSAwIDEwMCAyLjUgMS4yNSAxLjI1IDAgMDAwLTIuNXptMS4xMjYtMy44OTNhLjc1Ljc1IDAgMDAtMS4wNTYtLjA5MmwtNS43NDUgNC44MmEuNzUuNzUgMCAxMC45NjQgMS4xNWw1Ljc0NS00LjgyYS43NS43NSAwIDAwLjA5Mi0xLjA1OHpNOS41NSA4LjVhMS4yNSAxLjI1IDAgMTAwIDIuNSAxLjI1IDEuMjUgMCAwMDAtMi41eiIgZmlsbD0iIzMyMzIzMiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+") 50% no-repeat;
}

.coupon-btn::after {
    width: 1rem;
    height: 1rem;
    right: 1rem;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PHBhdGggZD0iTTcgMTRsNS01LTUtNSIgc3Ryb2tlPSIjZTFlMWUxIiBzdHJva2Utd2lkdGg9IjEuNSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=") 50% no-repeat;
}

.coupon-btn::after, .coupon-btn::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.my-page-menu .main-menu.alba-badge::after {
    content: "필요한 내용 입력";
    background-color: rgb(234, 250, 249);
    color: #655dbb!important;
    font-weight: 500;
    font-size: 0.75rem;
    height: 1.375rem;
    display: flex;
    align-items: center;
    margin: 0.0625rem 0px 0.0625rem 0.3125rem;
    padding: 0px 0.25rem;
    border-radius: 6px;
}

.teal-badge {
    padding: 0.1875rem 0.625rem;
    font-size: .875rem;
    border-radius: 13px;
    background-color: #655dbb!important;
    color: #fff;
    font-weight: 500;
    margin-right: 0.25rem;
}

#app-header {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.global-header {
    z-index: 1020;
    display: block;
}

#app-header {
    border-bottom: 0.0625rem solid #f2f2f2;
    height: 4.5rem;
}

section.d-none {
	margin: 0px;
}