@charset "UTF-8";

.service-area-filter-mobile-b .filter-btn:first-child {
	margin-right: 0.375rem;
}

.service-area-filter-mobile-b .filter-btn {
	height: 2.375rem;
	padding: 0.5rem 2.125rem 0.5rem 1rem;
	border-radius: 19px;
	font-size: .875rem;
	position: relative;
	border: 0.0625rem solid #e1e1e1;
	color: #2d2d2d;
	font-weight: 400;
	background-color: transparent;
}

.service-area-filter-mobile-b .filter-btn.selected {
    color: #fff;
    background-color: #525252;
    border: 0.0625rem solid #525252;
}

.service-area-filter-mobile-b .filter-btn::after {
	width: 0.875rem;
	height: 0.875rem;
	top: 0.75rem;
	right: 1rem;
}

.service-area-filter-mobile-b .filter-btn::after {
	content: "";
	background-image:
		url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuNjY2IDhhLjcwOC43MDggMCAwMS45MjktMS4wNjRsLjA3My4wNjMgNS4zMzEgNS4zMzMgNS4zMzMtNS4zMzNhLjcwOC43MDggMCAwMS45My0uMDYzbC4wNzIuMDYzYS43MDguNzA4IDAgMDEuMDY0LjkzTDE2LjMzNCA4bC01LjgzMyA1LjgzM2EuNzA4LjcwOCAwIDAxLS45My4wNjRsLS4wNzItLjA2NEwzLjY2NiA4eiIgZmlsbD0iIzg4OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
	background-size: contain;
	position: absolute;
}

/* 모달시 뒷부분 색 바꾸기 */
.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1030;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: .5;
}

/*모달창*/
.modal {
	overflow-x: hidden;
	overflow-y: auto;
}

/* 모달시 변경사항 */
.modal {
	padding-left: 0 !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050 !important;
	width: 100%;
	height: 100%;
	outline: 0;
}

.fade {
	transition: opacity .15s linear;
}

.modal .modal-dialog.modal-dialog-centered {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	justify-content: center;
}

.modal.show .modal-dialog {
	transition: transform .3s ease-out;
	transform: none;
}

.modal .modal-dialog {
	margin: auto;
	max-width: 26.25rem;
}

.dialog-centered {
	display: flex;
	align-items: center;
}

.modal-dialog {
	position: relative;
	width: auto;
	pointer-events: none;
}

.modal .modal-content {
	border-radius: 0;
	border: none;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	outline: 0;
}

.search-pro-filter-modal .modal-body {
	padding: 0;
	position: relative;
	flex: 1 1 auto;
}

.search-pro-filter-modal .tabs .nav-link.active:before {
	content: "";
	position: absolute;
	height: 0.125rem;
	background-color: #7149C6;
	left: 0.375rem;
	right: 0.375rem;
	bottom: 0.125rem;
	width: calc(100% - 0.75rem);
}

/* 모달 상단 */
.search-pro-filter-modal .tabs .nav-tabs {
	width: 26.25rem;
	border: none;
	position: fixed;
	z-index: 1;
	height: 3.75rem;
	padding: 0.625rem 1rem;
	background-color: #fff;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
	list-style: none;
}

/* 닫기 버튼 */
.search-pro-filter-modal .tabs .btn {
	position: absolute;
	display: flex;
	padding: 0.375rem;
	top: 1rem;
	right: 0.875rem;
}

.search-pro-filter-modal .tabs .btn img {
    width: 0.875rem;
    height: 0.875rem;
}

[type=button]:not(:disabled), button:not(:disabled) {
	cursor: pointer;
}
/* 클릭할시 변경사항 */
.search-pro-filter-modal .tabs .nav-item:first-child {
	margin-right: 0.875rem;
}

.nav-tabs .nav-item {
	margin-bottom: -0.0625rem;
}

.search-pro-filter-modal .tabs .nav-link.active {
	color: #7149C6;
}

.search-pro-filter-modal .tabs .nav-link {
	border: none;
	outline-style: none;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: -.01688rem;
	padding: 0.375rem;
	position: relative;
}

.nav-tabs .nav-link.active {
	background-color: #fff;
}

.nav-tabs .nav-link {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.nav-link {
	display: block;
}

.nav-tabs .nav-item {
	margin-bottom: -0.0625rem;
}

.search-pro-filter-modal .tabs .tab-content {
	height: 42.5rem;
	overflow-y: scroll;
	padding-top: 3.75rem;
}

/* 모달 몸통 */
.tab-content>.active {
	display: block;
}

.search-pro-filter-modal .search-service-autocomplete {
	margin-top: 0.625rem;
	display: flex;
	flex-direction: column;
}

/* 분단선 */
ul li .bottom-border {
    background: #f2f2f2;
    position: absolute;
    height: 0.0625rem;
    bottom: 0;
    left: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    margin: 0 1rem;
}

/* 체크표시 */
ul li:not(.disabled).selected:after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTUgMTEuNjUybDQuODgzIDQuNjk2TDE4LjU2NSA4Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    top: 0.6875rem;
    right: 1rem;
}
/* 검색창 */
.autocomplete-input {
	padding: 0.75rem 0.75rem 0.75rem 2.125rem;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2U9IiNBQkFFQkEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIuOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSI+PGNpcmNsZSBjeD0iNS44MzMiIGN5PSI1LjgzMyIgcj0iNS44MzMiLz48cGF0aCBkPSJNMTQgMTRMOS45NTYgOS45NTYiLz48L2c+PC9zdmc+);
	background-size: 1rem;
	background-repeat: no-repeat;
	border-radius: 8px;
	background-position: 0.75rem 0.875rem;
	border: none;
	width: auto;
	margin: 0 1rem 1rem;
	background-color: #fafafa;
	height: 2.75rem;
}

div.option-group-selectbox ul {
	margin: 0 0 1.75rem;
	padding: 0;
	font-size: 0;
	border-top: 0.0625rem solid #f2f2f2;
}

.level1 {
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	width: 100%;
	position: relative;
	padding: 0.75rem 1rem;
	display: inline-block;
	font-size: .875rem;
	font-weight: 400;
	line-height: normal;
	letter-spacing: normal;
	color: #323232;
}