@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
	height: 100%
}

body{
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}

nav.menu{
    width: 15%;
    background-color: #E5BEEC;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.logo {
    height: 7%;
}

.menu li a{
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.menu li a:hover{
    background-color: #917FB3;
}

.menu li .active {
    background-color: #917FB3;
}

div.title{
    position: fixed;
    height: 7%;
    /* line-height: 60px; */
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3; 
    z-index: 1;    
}

h4{
	padding-left: 16%;
	font-size: 20px;
}

section.body{
    background-color: #fafafa;
    width: 100%;
    height: 100%;
}

.board-wrap{
	position: absolute;
	right: 0;
	bottom: 0;
    width: 85%;
    height: 93%;
    display: flex;
    align-items: center;
}

.board-body{
    width: 90%;
    height: 85%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1px 1px 3px 1px gray;
}

.buttons{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 35px;
	margin-right: 30px;
}

input.select{
    border: 2px solid gray;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 12px;
    background-color: white;
}

.button-select{
	width: 30px;
	height: 30px;
    margin-right: 20px;
}

.button-delete {
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    border: none;
    background-color: #E5BEEC;
    font-weight: bold;
}

.board-list{
	margin-top : 35px;
}

.board-list div.comment{
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board-list div.top{
    border-top: 1.5px solid #000;
    border-bottom: 1px solid #999;
    font-weight: bold;
    font-size: 0;
}

.board-list .comment:last-child{
    border-bottom: 1.5px solid #000;
}

.board-list div div {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}

.board-list .checkbox {
    width: 5%;    
}
.board-list .comment-id {
    width: 10%;    
}
.board-list .comment-content {
    width: 55%;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.board-list .comment-register-date {
    width: 10%;    
}
.board-list .member-id {
    width: 10%;    
}
.board-list .post-id {
    width: 10%;    
}

.board-page{
    text-align: center;
    font-size: 0;
    margin-top: 35px;
}

.board-page a{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.board-page a.number.active{
    font-weight: bold;
}
