@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    width: 1440px;
    height: 781px;
}

.wrap{
    /* height: 100%; */
    width: 100%;
    height: 100%;
}


a{
    text-decoration: none;
    color: inherit;
}

nav.menu{
    width: 200px;
    background-color: #3c3c3c;
    height: 781px;
    position: fixed;
}

.logo {
    height: 48px;
}

.menu li a{
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 20px;
    color: white;
}

.menu li a:hover{
    background-color: #282828;
}

.menu li .active {
    background-color: #282828;
}

div.title{
    position: fixed;
    height: 50px;
    line-height: 50px;
    margin-left: 200px;
    padding-left: 20px;
    width: 1220px;
    background-color: #fafafa;
}

section.body{
    background-color: #dcdcdc;
    padding: 20px 20px 20px 220px;
}

.board-wrap{
    margin: 50px auto 0;
    width: 1100px;
    height: 690px;
}

.board-subtitle{
    margin: 15px 0px;
}

.board-body{
    width: 100%;
    height: 620px;
    background-color: #fafafa;
    box-shadow: 1px 1px 3px 1px gray;
}

input.select{
    margin: 50px 30px 10px;
    border: 2px solid gray;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 12px;
    background-color: white;
}

.button-delete {
    cursor: pointer;
    margin: 55px 30px 10px;
    width: 100px;
    height: 30px;
    border: 0;
    color: white;
    text-align: center;
    background-color: #149494;
    float: right;
    font-size: 12px;
     /* #CD1F48; */
}

.board-list{
    border-top: 2px solid #000;
    margin-top: 40px;
}

.board-list div.post{
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board-list div.top{
    border-bottom: 1px solid #999;
    font-weight: bold;
    font-size: 0;
}

.board-list .post:last-child{
    border-bottom: 2px solid #000;
}

.board-list div div {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
}

.board-list .checkbox {
    width: 5%;    
}
.board-list .post-id {
    width: 10%;    
}
.board-list .post-type {
    width: 10%;    
}
.board-list .post-name {
    width: 10%;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.board-list .post-content {
    width: 35%;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.board-list .post-register-date {
    width: 10%;    
}
.board-list .member-id {
    width: 10%;    
}
.board-list .post-is-blinded {
    width: 10%;    
}

.board-page{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board-page a{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 10px;
}

.board-page a.number.active{
    font-weight: bold;
}
