@charset "UTF-8";

* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	height: 100%;
    position: relative;
    flex-grow: 1;
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #323232;
}

img {
	vertical-align: middle;
	border-style: none;
}

/* 중단부 CSS */
#app {
	text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

#app-body {
	height: 100%;
    position: relative;
    flex-grow: 1;
}

@media (min-width: 1200px){
	.container {
	max-width: 62.5rem;
	}
}

.container {
	width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.page-content {
	margin-top: 5rem;
    margin-bottom: 5rem;
}

#page-content {
	margin-top: 2rem;
    margin-bottom: 2rem;
}

article {
	display: block;
}

.page-heading-h1 {
	line-height: 1.4;
    margin-bottom: 2rem;
    font-size: 2.125rem;
    color: #323232;
}

.page-heading-h1>i {
	margin-right: 1rem;
	font-style: normal;
}

.font-weight-bold {
	font-weight: 700!important;
}

.service-select {
	display: inline-block;
	margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem 2.875rem 0.75rem 1.25rem;
    color: #00c7ae;
    border: 0.0625rem solid #00c7ae;
    border-radius: 23px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxOGgxOFYwSDB6Ii8+PHBhdGggc3Ryb2tlPSIjMDBDN0FFIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE0LjQzNCA2Ljc1MWwtNS40IDUuNC01LjQtNS40Ii8+PC9nPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
    background-size: 1.285em auto;
    cursor: pointer;
}

@media (min-width: 768px){
	.qna-list{
	font-size: 1.125rem;
	}
}

/* 문의 목록 CSS  */

ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 1rem;
}
li {
	list-style: none;
}

dl {
	padding: 0;
	margin-top: 0;
	margin-bottom: 1rem;
}

dt {
	padding: 1rem 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 0.0625rem solid #f2f2f2;
    margin: 0;
}


.faq-question {
	cursor:pointer;
}

.faq-answer {
	display: none;
}

.user-question::before {
	margin-right: 0.5rem;
    content: "Q.";
    font-weight: 700;
}

.qna-list img {
	margin-left: 1rem;
    transform: rotate(0);
    transition: all .3s;
}

.qna-list-item {
	margin: 0;
    border-bottom: 0.0625rem solid #f2f2f2;
    list-style: none;
}


.qna-link-list {
	display: block;
    padding: 1rem 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}


.qna-link-list::before {
	margin-right: 0.5rem;
    content: "Q.";
    font-weight: 700;
}

/* 위로 가기 버튼 */
.top-btn {
	bottom: 6rem;
	position: fixed;
    z-index: 50;
    box-shadow: 0 0.125rem 0.375rem 0 rgba(0,0,0,.2);
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.top-btn img {
	transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
