@charset "UTF-8";


/* base */

#app {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}


style attribute {
    --gnb-height: 72px;

}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


:root {
    --blue: #4785ff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ff3131;
    --orange: #fd7e14;
    --yellow: #ffce21;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #999;
    --gray-dark: #525252;
    --primary: #00c7ae;
    --secondary: #e1e1e1;
    --success: #00c7ae;
    --info: #17a2b8;
    --warning: #ffce21;
    --danger: #ff3131;
    --light: #fafafa;
    --dark: #525252;
    --breakpoint-xs: 0;
    --breakpoint-sm: 36rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 62rem;
    --breakpoint-xl: 75rem;
    --font-family-sans-serif: "Noto Sans KR","Malgun Gothic",-apple-system,"Segoe UI",Roboto,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

*, :after, :before {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: border-box;
}


/* element */

/* app-body */

#app[data-is-loaded=true], #app[data-is-loaded=true] #app-body, #app[data-is-loaded=true] #app-header, #app[data-is-loaded=true] #app-sticky-nav {
    opacity: 1;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

#app #app-body, #app #app-header {
    transition: opacity .3s ease-in;
}

* {
    word-break: break-word;
}
*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}

/* find-password-container */

@media (max-width: 991.98px) {
.find-password-container[data-v-5bbda200] {
    /* background-color: #fff; */
}
}

.find-password-container[data-v-5bbda200] {
    background-color: #fafafa;
}
* {
    word-break: break-word;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}

/* find-password-container */


.find-password[data-v-5bbda200] {
    padding: 5rem 0;
    max-width: 26.25rem;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 62.5rem;
}
}

@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 60rem;
}
}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 45rem;
}
}

@media (min-width: 576px){
.container, .container-sm {
    max-width: 33.75rem;
}
}

@media (min-width: 1200px){
.container {
    max-width: 62.5rem;
}
}

@media (min-width: 992px){
.container {
    max-width: 60rem;
}
}

@media (min-width: 768px){
.container {
    max-width: 45rem;
}
}

@media (min-width: 576px){
.container {
    max-width: 33.75rem;
}
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}


/* h2 비밀번호 찾기 */


.find-password h2[data-v-5bbda200] {
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h2, h2 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -.0375rem;
}

.h1, .h2, h1, h2 {
    font-weight: 400;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* div. card */



.card[data-v-5bbda200] {
    width: 100%;
    max-width: 26.5rem;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 8px;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: none;
}

.card {
    border: none;
    border-radius: 4px;
    box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0,0,0,.2);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

/* form-row */

.form-row[data-v-26dc1aa5] {
	display : flex;
    text-align: center;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem;
}

/* div. col-12 */

.form-row>.col, .form-row>[class*=col-], .modal .modal-footer .form-row>.btn {
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto, .modal .modal-footer .btn {
    position: relative;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

/* img */

/* 
@media (max-width: 991.98px) {
.email-find-icon[data-v-26dc1aa5] {
    margin-top: 2rem;
}
} */

img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* p.email-notice */

.email-notice[data-v-26dc1aa5] {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(50, 50, 50);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* span.email-link */

.email-notice .email-link[data-v-26dc1aa5] {
    color: rgb(0, 199, 174);
}

/* small.notice form-text text-muted */

.notice[data-v-26dc1aa5] {
    margin: 0px;
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(115, 115, 115);
    text-align: center;
}

.text-muted {
    color: #999!important;
}

.form-text {
    display: block;
    margin-top: 0.25rem;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

small {
    font-size: 80%;
}

small {
    font-size: smaller;
}

