@charset "UTF-8";

* {
    word-break: break-word;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: block;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
    font-family: Noto Sans KR;
}

button {
    cursor: pointer;
}

main {
    display: block;
}

h1 {
    margin-top: 0;
    letter-spacing: -.04375rem;
    display: block;
}

h3 { 
    margin-top: 0;
}

button {
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
}

img {
    vertical-align: middle;
    border-style: none;
}

nav {
    display: block;
}

ol {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    background-color: transparent;
}

ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

ul li {
    list-style: none;
}

#app {
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
    transition: opacity .3s ease-in;
    opacity: 1;
}

.page-content {
    margin-top: 3.75rem;
    margin-bottom: 6.25rem;
}

.page-header {
    display: flex;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    margin-bottom: 5.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 18.75rem;
}

.page-header>h1 {
    margin-bottom: 1.5rem;
}

.page-heading-h1 {
    font-size: 2.125rem;
}

.page-heading-h1 {
    line-height: 1.4;
}

/* 이부분 색 흰색으로 지정해 주세요 */
.text-white {
    color: #000!important;
}

.btn-location {
    padding: 0.625rem 1.25rem;
    color: #fff;
    border: 0.125rem solid #fff;
    border-radius: 23px;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
}

.btn-link {
        text-decoration: none;
}

.btn-location>img {
    margin-top: -0.1875rem;
    margin-left: 0.375rem;
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 62.5rem;
}

.google-map {
    z-index: -1;
    position: absolute;
    height: 100%;
    pointer-events: none;
    border-radius: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-nav {
    margin-bottom: 1.875rem;
}

.text-lg-center {
    text-align: center!important;
}

.page-heading-h3 {
    line-height: 1.4;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: #323232;
}

.f-s-18-24 {
    font-size: 1.5rem!important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.page-breadcrumbs {
    flex-wrap: wrap;
    display: flex;
    font-size: .875rem;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    display: flex;
}

page-breadcrumbs>li {
    color: #737373;
}

.page-breadcrumbs>li {
    display: inline-flex;
    align-items: center;
}

.page-breadcrumbs {
    flex-wrap: wrap;
    display: flex;
    font-size: .875rem;
}

.page-breadcrumbs>li>a {
    color: #737373;
}

/* > 표시 이미지 적용이 안되요 */
/* .page-breadcrumbs > li:not(.is-sibling) + li::before {
    content: "";
    width: 1.28571em;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNzM3MzczIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTEwLjU1IDcuMWw2LjkgNi45LTYuOSA2LjkiLz48L3N2Zz4=") 50% center / 100% no-repeat;
} */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.service-link-column {
    margin-bottom: 1rem;
    font-size: 1.125rem;
}

.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-12, .col-12{
    position: relative;
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.service-link-column>a {
    color: #737373;
}

li span {
    color: #737373; 
}

.arrow-img {
    width: 20px;
    height: 20px;
}

.btn[class*=btn-outline]:hover {
    opacity: .6;
}

.btn-more {
    margin-top: 2rem;
    width: 12.5rem;
}

.btn-more {
    border-radius: 8px;
    font-weight: 400;
    border-color: #e1e1e1!important;
    color: #655dbb;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #655dbb;
}

.btn:hover {
    text-decoration: none;
}

.ml-auto, .mx-auto {
	margin-left: 385px;
    margin-right: auto!important;
}

.btn-block {
    display: block;
}

.btn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}