@charset "UTF-8";

* {
    word-break: break-word;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

#app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

div {
	display: block;
}

section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a, a:hover {
    text-decoration: none;
}

 a {
 	color: #323232;
    background-color: transparent;
}

img, svg {
    vertical-align: middle;
}

img {
	border-style: none;
    overflow: clip;
}

.guide-for-user .hero {
	background-image: linear-gradient(180deg,rgba(0,5,13,0),rgba(0,5,13,.3)),url(../../static/image/how-to-use.jpg);
	padding: 8.25rem 0;
	height: 30rem;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.guide-for-user .hero .title {
	font-size: 2.125rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.0625rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.guide-for-user .hero .desc {
	font-size: 1.125rem;
    line-height: normal;
    font-weight: 500;
    letter-spacing: -.03125rem;
    text-align: center;
    margin-bottom: 2rem;
}

.d-lg-none {
    display: none!important;
}

.d-xl-none {
    display: none!important;
}

.guide-for-user .hero .btn-wrapper {
    display: flex;
    justify-content: center;
}

.guide-for-user .hero .cta-btn {
    width: 10rem;
    border-radius: 8px;
}

.btn {
    font-weight: 500;
    transition: opacity .2s ease-in-out;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.webp-bgroup .btn-primary {
    color: #fff;
    background-color: #7149c6;
    border-color: #7149c6;
}

.guide-for-user .contents-section {
	display: flex;
    justify-content: center;
    padding: 7.5rem 0;
}

.guide-for-user .contents-wrapper {
    width: 60.625rem;
    padding: 0;
}

.guide-for-user .contents-section h2 {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 3.375rem;
    letter-spacing: -.0625rem;
    text-align: center;
    margin-bottom: 4rem;
}

.guide-for-user .how-to-use .contents-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 4rem;
}

.guide-for-user .how-to-use .contents-item {
    flex-wrap: nowrap;
    flex-direction: row;
}

.guide-for-user .how-to-use .contents-item:first-child, .guide-for-user .how-to-use .contents-item:last-child {
    flex-direction: row-reverse;
}

.guide-for-user .how-to-use .image-content {
    padding: 2.5625rem 3.75rem 0;
    margin-left: 2.5rem;
    background-color: #e3dffd;
    border-radius: 16px;
    width: 50%;
}

.guide-for-user .how-to-use .image-content img {
    width: 100%;
}

.guide-for-user .how-to-use .text-content {
    padding: 6.375rem 5rem;
    margin-right: 2.5rem;
    width: 50%;
}

.guide-for-user .contents-item h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.8125rem;
    text-align: left;
    letter-spacing: -.03125rem;
    margin-bottom: 1rem;
}

.guide-for-user .contents .contents-item .text-content p {
    font-size: 1rem;
    color: #737373;
    line-height: 1.5625rem;
    letter-spacing: -.03125rem;
    text-align: left;
    margin-bottom: 0;
}

.guide-for-user .how-to-use .contents-item:nth-child(2) .text-content {
    margin-left: 2.5rem;
    margin-right: 0;
}

.guide-for-user .contents-section h2 {
    font-size: 2.125rem;
    line-height: 3.375rem;
    letter-spacing: -.0625rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}

.guide-for-user .use-in-other-ways .contents {
    display: flex;
    justify-content: center;
}

.guide-for-user .use-in-other-ways .contents-item {
    display: block;
    width: 19.1875rem;
    height: 19.1875rem;
    margin-bottom: 0;
    margin-right: 1.5rem;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 0.25rem 0.625rem 0 rgba(0,0,0,.1);
    position: relative;
}

.guide-for-user .contents-item .cta {
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.guide-for-user .use-in-other-ways {
	padding-top: 0;
}

.guide-for-user .contents-item .cta span {
    color: #7149C6;
    font-size: 1rem;
    margin-right: 0.125rem;
}

.guide-for-user .use-in-other-ways .icon {
    position: absolute;
    right: 2rem;
    width: 5.5rem;
    bottom: 2rem;
    object-fit: contain;
}
