@charset "utf-8";

* {
	word-break: break-word;
}

*, :after, :before {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	margin: 0;
	font-family: Noto Sans KR, Malgun Gothic, -apple-system, Segoe UI,
		Roboto, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol, Noto Color Emoji;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #323232;
	text-align: left;
	background-color: #fff;
}

.sign-up #app {
	background: #fafafa;
}

#app[data-is-loaded=true], #app[data-is-loaded=true] #app-body {
	opacity: 1;
}

#app {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    min-height: 100%;
}

#app #app-body {
    height: 100%;
    position: relative;
    flex-grow: 1;
}

.customer-signup-page[data-v-59ba51f2] {
    background-color: #fafafa;
    padding: 5rem 0;
}

.customer-signup-page h1[data-v-59ba51f2] {
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 500;
    font-size: 2.125rem;
    line-height: normal;
    letter-spacing: normal;
}

h1 {
    margin-top: 0;
}

.card[data-v-59ba51f2] {
    width: 26.25rem;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 0.5rem;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.3125rem;
    margin-left: -0.3125rem;
}

.form-row>[class*=col-] {
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.signup-form .text-field[data-v-2ef2701c] {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.pt-0 {
    padding-top: 0!important;
}

.col-form-label {
    margin-bottom: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.6875rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input {
    overflow: visible;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.signup-form .float-button-right button.btn[data-v-2ef2701c] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    width: 3.125rem;
    z-index: 10;
    text-align: right;
    color: #655DBB!important;
    font-weight: 400;
}

.signup-form button.btn.password-show[data-v-2ef2701c] {
    font-size: .8rem;
}

.signup-form .text-input[data-v-2ef2701c] {
    padding: 0.75rem;
    border-radius: 4px;
    border: 0.0625rem solid #e1e1e1;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.all-check[data-v-17616218] {
    height: 1.5rem;
}

.custom-checkbox {
    padding-left: 1.375rem;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
}


.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox .custom-control-input {
    width: 1.25rem;
    height: 1.25rem;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control-label:before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.signup-form button.btn.btn-signup[data-v-2ef2701c] {
    margin-top: 0.75rem;
}

.signup-form button.btn[data-v-2ef2701c] {
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #655DBB!important;
    border-color: #655DBB!important;
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fa5963;
}