@charset "UTF-8";

.web-body {
	height: 100%;
	position: relative;
	flex-grow: 1;
	transition: opacity .3s ease-in;
}

.container {
	width: 100%;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	margin-right: auto;
	margin-left: auto;
}

.community-container {
	max-width: 100%;
}

.soomgo-life-container {
	max-width: 100%;
	height: 100%;
}

.post-detail-container {
	width: 37.5rem;
	margin: 0px auto;
}

.soomgo-life-post-detail {
	display: flex;
	flex-direction: column;
}

/* 글 위치, 글제목, 지역, 글쓴이 */
.post-header {
	margin-top: 3.25rem;
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
}
/* 글 위치 */
.post-category-subject {
	margin: 2rem 0px 1rem;
}

.post-category-subject .category-breadcrumb {
	display: flex;
	align-items: center;
	margin: 0px;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.post-category-subject .category-breadcrumb .category-breadcrumb-item .breadcrumb-item
	{
	display: flex;
	height: 1.375rem;
	cursor: pointer;
}

.post-category-subject .category-breadcrumb .breadcrumb-divider {
	width: 0.875rem;
	height: 0.875rem;
	margin: 0px 0.1875rem;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDE0djE0SDB6Ii8+PHBhdGggc3Ryb2tlPSIjQzVDNUM1IiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNNC42NjcgMTEuNjY3TDkuMzMzIDcgNC42NjcgMi4zMzMiLz48L2c+PC9zdmc+)
		no-repeat;
}

/* 글제목 */
.post-header-title-wrapper.has-service {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.post-header-title-wrapper .post-service-name {
	font-size: 0.875rem;
	line-height: 1.57;
	letter-spacing: -0.01875rem;
	color: rgb(136, 136, 136);
	font-weight: 500;
	margin-bottom: 0.25rem;
}

.post-header-title-wrapper .post-header-title {
	margin: 0px;
	font-weight: 700;
	color: rgb(45, 45, 45);
}

.post-header-title-wrapper.has-service .post-address-info {
	margin-top: 1rem;
	font-size: 0.875rem;
	line-height: 1.57;
	letter-spacing: -0.01875rem;
	color: rgb(136, 136, 136);
}

/* 글쓴이 */
.user-profile-bar-container .user-profile-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.user-profile-bar-container .user-profile-wrapper .user-profile-area {
	display: flex;
}

.user-profile-bar-container .user-profile-wrapper .user-profile-area .profile-image
	{
	width: 2.75rem;
	height: 2.75rem;
	margin-right: 0.75rem;
	border-radius: 10px;
	border: 0.0625rem solid rgb(242, 242, 242);
}

.user-profile-bar-container .user-profile-wrapper .user-profile-area .profile-post-info
	{
	display: flex;
	flex-direction: column;
}

.user-profile-bar-container .user-profile-wrapper .user-profile-area .profile-post-info .user-name
	{
	margin: 0px 0px 0.125rem;
	font-weight: 500;
	color: rgb(45, 45, 45);
}

.user-profile-bar-container .user-profile-wrapper .user-profile-area .profile-post-info .post-created-at
	{
	margin: 0.125rem 0px 0px;
	color: rgb(136, 136, 136);
}

.user-profile-bar-container .user-profile-wrapper .post-actions .icon:first-child
	{
	margin-left: 1rem;
}

.user-profile-bar-container .user-profile-wrapper .post-actions .icon {
	cursor: pointer;
	margin-left: 1.25rem;
}

.btn-group {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
}

.b-dropdown button.btn.dropdown-toggle {
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDIxYTIgMiAwIDEwMC00IDIgMiAwIDAwMCA0em0wLTdhMiAyIDAgMTAwLTQgMiAyIDAgMDAwIDR6bTAtN2EyIDIgMCAxMDAtNCAyIDIgMCAwMDAgNHoiIGZpbGw9IiMyRDJEMkQiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==)
		no-repeat;
	border: none;
	height: 1.5rem;
	margin: 0px 0px 0px 1.25rem;
}

.show>.btn-secondary.dropdown-toggle {
	color: #323232;
	background-color: #c8c8c8;
	border-color: #c1c1c1;
}

/* 분단선 */
.soomgo-life-post-detail .hr-divider {
	height: 0px;
	border-width: 0px 0px 0.0625rem;
	border-top-style: initial;
	border-right-style: initial;
	border-left-style: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-left-color: initial;
	border-image: initial;
	margin: 0px;
	border-bottom-style: solid;
	border-bottom-color: rgb(244, 244, 244);
}

/* 글 내용 */
.body-container {
	display: flex;
	flex-direction: column;
}

.body-container .body-contents {
	margin: 2rem 0px;
}

.body-container .body-contents .text {
	color: rgb(45, 45, 45);
	white-space: pre-wrap;
	margin: 0px;
}

.post-react-state {
	display: flex;
	align-items: center;
	width: 100%;
}

.post-react-state .post-react-item.like {
	cursor: pointer;
}

.post-react-state .post-react-item {
	display: flex;
	align-items: center;
	padding: 1.25rem 0.25rem;
	margin-right: 1.25rem;
	color: rgb(136, 136, 136);
}

.post-react-state .post-react-item .text {
	font-weight: 500;
}

.post-react-state .post-react-item.like::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuOTQyIDUuNzY3VjMuMjMzYzAtMS4wNDktLjgyNi0xLjktMS44NDQtMS45bC0yLjQ2IDUuN1YxNGg2LjkzNmExLjI0MSAxLjI0MSAwIDAwMS4yMy0xLjA3N2wuODQ5LTUuN2ExLjI5MyAxLjI5MyAwIDAwLS4yODgtMS4wMjEgMS4yMTUgMS4yMTUgMCAwMC0uOTQyLS40MzVoLTMuNDh6TTMuOTMgMTRIMi41NjNjLS42NzkgMC0xLjIzLS41NjctMS4yMy0xLjI2N1Y4LjNjMC0uNy41NTEtMS4yNjcgMS4yMy0xLjI2N0gzLjkzVjE0eiIgZmlsbD0iIzg4OCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+) no-repeat;
    
    
}

.post-react-state .post-react-item.comments::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuNjgyIDEuMzMzYTQuOTg1IDQuOTg1IDAgMDE0Ljk4NSA0Ljk4NXYxLjM2NGMwIDEuOTEtMS4wNzYgMy41Ny0yLjY1NCA0LjQwN1YxNGEuNjY3LjY2NyAwIDAxLS45ODIuNTg4bC0uMDcxLS4wNDUtMi42MzYtMS44NzZINi4zMThhNC45ODUgNC45ODUgMCAwMS00Ljk4NS00Ljk4NVY2LjMxOGE0Ljk4NSA0Ljk4NSAwIDAxNC45ODUtNC45ODVoMy4zNjR6bS00Ljg0OSA1YS44MzMuODMzIDAgMTAwIDEuNjY3LjgzMy44MzMgMCAwMDAtMS42Njd6bTMgMGEuODMzLjgzMyAwIDEwMCAxLjY2Ny44MzMuODMzIDAgMDAwLTEuNjY3em0zIDBhLjgzMy44MzMgMCAxMDAgMS42NjcuODMzLjgzMyAwIDAwMC0xLjY2N3oiIGZpbGw9IiM4ODgiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat;
}

/* 댓글창 */
.post-comments-container:not(:last-child) {
	margin-bottom: 10rem;
}

/* 기입부 */
.post-comments-container {
	position: relative;
	width: 100%;
	margin-bottom: 11.25rem;
}

.comment-input-box {
	display: flex;
	align-items: flex-start;
	position: relative;
	margin: 1.25rem 0px;
	padding: 1.0625rem 0.875rem;
	border-radius: 8px;
	border: 0.0625rem solid rgb(242, 242, 242);
	background-color: rgb(255, 255, 255);
}

.comment-input-box .attach-file-label {
	width: 1.25rem;
	height: 1.25rem;
	margin: 0.0625rem 0.875rem 0px 0px;
}

.comment-input-box .attach-file-label .attach-image-icon {
	width: 1.25rem;
	height: 1.25rem;
	vertical-align: unset;
	cursor: pointer;
}

.comment-input-box .comment-body {
    width: 100%;
    position: relative;
}

.comment-input-box .comment-body .comment-input {
    width: 100%;
    min-height: 1.375rem;
    padding: 0px;
    border: 0px;
    font-size: 0.875rem;
    color: rgb(45, 45, 45);
}

.form-control {
    display: block;
    font-weight: 400;
    line-height: 1.5;;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
}

/* 댓글 목록 */
.post-comments-list {
    width: 100%;
    margin-bottom: 0px;
}

.post-comments-list-item {
    display: flex;
    flex-direction: column;
}

.post-comment-wrapper {
    display: flex;
    padding: 1.5rem;
}

.post-comment-wrapper .profile-image.provider {
    cursor: pointer;
}

.post-comment-wrapper .profile-image .image {
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    border: 0.0625rem solid rgb(242, 242, 242);
    box-sizing: content-box;
}

.post-comment-wrapper .comment-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 0.75rem;
}

.post-comment-wrapper .comment-information .user-info.provider {
    cursor: pointer;
}

.post-comment-wrapper .comment-information .user-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper.pro-user {
    max-width: calc(100% - 6rem);
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -0.1875rem;
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper .user {
    display: flex;
    align-items: center;
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper .user .user-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.375rem;
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper .pro-user-services {
    display: flex;
    align-items: center;
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper .pro-user-services .service.main-service {
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper .pro-user-services .service:first-child {
    margin-left: 0px;
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper .pro-user-services .service {
    display: inline-block;
    white-space: nowrap;
}

.post-comment-wrapper .comment-information .user-info .user-info-wrapper .pro-user-services .service {
    display: inline-block;
    white-space: nowrap;
    margin-left: 0.25rem;
}

.post-comment-wrapper .comment-information .user-info .send-request-button {
    width: 4rem;
    border-radius: 6px;
    padding: 0.3125rem 0.5rem;
    margin-left: 2.25rem;
    border: 0px;
    color: rgb(0, 199, 174);
    background-color: rgb(234, 250, 249);
}

 button:not(:disabled) {
    cursor: pointer;
}

.post-comment-wrapper .comment-information .content {
    color: rgb(50, 50, 50);
}

.post-comment-wrapper .comment-information .content .text {
    margin: 0px;
    white-space: pre-line;
}

.post-comment-wrapper .comment-information .comment-action-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.9375rem;
}

.post-comment-wrapper .comment-information .comment-action-group .comment-react {
    display: flex;
    align-items: center;
}

.post-comment-wrapper .comment-information .comment-action-group .comment-react .text {
    color: rgb(181, 181, 181);
}

.post-comment-wrapper .comment-information .comment-action-group .comment-react .divider-dot {
    margin: 0px 0.5rem;
    color: rgb(181, 181, 181);
}

.post-comment-wrapper .comment-information .comment-action-group .comment-react .like-area {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-comment-wrapper .comment-information .comment-action-group .comment-react .like-area::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTkuOTQyIDYuMjkzVjMuNzZjMC0xLjA1LS44MjYtMS45LTEuODQ0LTEuOWwtMi40NiA1Ljd2Ni45NjZoNi45MzZhMS4yNDEgMS4yNDEgMCAwMDEuMjMtMS4wNzZsLjg0OS01LjdhMS4yOTMgMS4yOTMgMCAwMC0uMjg4LTEuMDIyIDEuMjE1IDEuMjE1IDAgMDAtLjk0Mi0uNDM1aC0zLjQ4ek0zLjkzIDE0LjUyNkgyLjU2M2MtLjY3OSAwLTEuMjMtLjU2Ny0xLjIzLTEuMjY2VjguODI2YzAtLjcuNTUxLTEuMjY2IDEuMjMtMS4yNjZIMy45M3Y2Ljk2NnoiIGZpbGw9IiNDNUM1QzUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) no-repeat;
}




/* 인기서비스 */
