@charset "utf-8";

#app[data-is-loaded='true'] {
  opacity: 1;
}

#app {
  text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.login-page {
  background-color: #fafafa;
  padding: 5rem 0;
}

.login-page h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 500;
  font-size: 2.125rem;
  line-height: normal;
  letter-spacing: normal;
}

.card{
  width: 100%;
  max-width: 26.5rem;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 8px;
  padding: 2.5rem;
  margin: 0 auto;
  box-shadow: none;
}

.card {
  background-color: #fff;
}

form {
  display: block;
  margin-top: 0em;
}

.form-row {
  margin-right: -0.3125rem;
  margin-left: -0.3125rem;
}

.form-row > [class*='col-'] {
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
}

.login-form .form-group {
  margin-bottom: 1.5rem;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.login-form .col-form-label {
  padding-bottom: 0.375rem;
}

.pt-0 {
  padding-top: 0 !important;
}

.col-form-label {
  margin-bottom: 0;
  font-size: inherit;
}

legend {
  padding: 0;
}

 .login-form .text-input.invalid {
  border: 0.0625rem solid #fa5963;
} 

.login-form .text-input {
  padding: 0.75rem;
  border-radius: 4px;
  border: 0.0625rem solid #e1e1e1;
}

.form-control {
  width: 100%;
  height: calc(1.5em + 1.5rem);
  border: 0.0625rem solid #e1e1e1;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: #323232;
  line-height: inherit;
}

.is-invalid ~ .invalid-feedback {
  display: block;
}

.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #fa5963;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.form-group .form-text.text-invalid {
    color: #ff3131;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #655DBB!important;
}

.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #655DBB!important;
  border-color: #655DBB!important;
}

.btn {
  border: 0.0625rem solid transparent;
  padding: 0.6875rem 0.75rem;
  border-radius: 0.25rem;
}

.login-form .reset-password-or-signup-wrapper {
  display: flex;
}

.login-form .reset-password-or-signup-wrapper > div {
  display: flex;
  margin: 0 auto 2rem;
  font-size: 0.875rem;
}

.login-form .reset-password-or-signup-wrapper > div > a {
  color: #737373;
  padding: 0.375rem 0.5rem;
  font-weight: 400;
}

.login-form .reset-password-or-signup-wrapper > div > .line {
  margin: auto 0.75rem;
  width: 0.0625rem;
  height: 0.75rem;
  background-color: #e1e1e1;
}

a,
a:hover {
  text-decoration: none;
}

.login-form .btn {
  width: 100%;
  margin-bottom: 0.75rem;
  font-weight: 400;
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

