@charset "UTF-8";


.main-category.category-list .category-item:hover {
    background: #fafafa;
    transform: translateY(-0.25rem);
    border: 2px solid black;
    box-shadow: none;
}

.category-item {
	display: flex;
	align-items: center;
    justify-content: center;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
}

.category-item.java{
	background: linear-gradient(#FFBFA9 0% 68%, white 68% 73%, #B4E4FF 73% 100%);
	/* background-color: #c9c7f8; */
}
.category-item.c{
	background-color: #95BDFF;
}
.category-item.python{
	background: linear-gradient(#B4E4FF 0% 68%, white 68% 73%, #FEFF86 73% 100%);
	/* background-color: #85ea67#00c4ff; */
}
.category-item.oracle{
	background-color: #FFACAC;
}
.category-item.mysql{
	background: linear-gradient(#B4E4FF 0% 68%, white 68% 73%, #FFBFA9 73% 100%);
}
.category-item.html{
	background-color: #F7C8E0;
}
.category-item.css{
	background-color: #B0DAFF;
}
.category-item.javascript{
	background-color: #FEFF86;
}

.main-category.category-list .category-title {
	transform: translateY(-0.2rem);
    font-size: 0.9rem;
    font-weight: 600;
}