@charset "UTF-8";

.web-body {
	height: 100%;
	position: relative;
	flex-grow: 1;
	opacity: 1;
}

.community-container {
	max-width: 100%;
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

/* 시작 */
.pro-knowhow-detail {
	width: 37.5rem;
	margin: auto;
	padding-bottom: 5rem;
	padding-top: 3.125rem;
}

/* 전체 대표 이미지 */
.cover-image-wrapper {
	position: relative;
}

.cover-image {
	width: 100%;
	height: 30rem;
	object-fit: cover;
}

/* 제목 */
.title {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: normal;
	color: rgb(50, 50, 50);
	padding: 1.5rem 0px 0px;
	margin: 0px;
}

/* 프로필 */
.observer-container .profile {
	display: flex;
	padding-bottom: 1.5rem;
	padding-top: 1rem;
	border-bottom: 0.0625rem solid rgb(242, 242, 242);
	margin: 0px 0px 1rem;
	align-items: center;
	cursor: pointer;
}

.profile-picture {
	width: 2.75rem;
	height: 2.75rem;
}

.is-square {
	background-image:
		url(https://static.cdn.soomgo.com/upload/profile/916903d0-2127-40b3-9b9c-04f54881a030.jpg?webp=1&h=320&w=320);
}

.user-profile-picture div.is-square {
	padding: 0;
	height: 100%;
}

.user-profile-picture div {
	position: relative;
	width: 100%;
	border: 0.0625rem solid #f2f2f2;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #e1e1e1;
}

.profile-picture>.is-square {
	border-radius: 10px !important;
}

.pro-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-left: 0.75rem;
}

.pro-name {
	font-size: .875rem;
	font-weight: 500;
	line-height: normal;
	color: #323232;
	margin: 0;
	padding-bottom: 0.125rem;
}

.pro-sub-info {
	font-size: .75rem;
	color: #737373;
}

/* 본인 소개 */
.brief-intro {
	line-height: 1.75;
	letter-spacing: -.0125rem;
	padding: 1.5rem 0 2.5rem;
	margin: 0;
	white-space: pre-line;
}


/* 메인 글 */
.put-main-post {
	font-size: 20px;
}


/* 고수 프로필 2 */
.profile-wrapper {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.profile.border-top {
    padding: 1.5rem 0 0;
    border: none;
}

.profile {
    display: flex;
    margin: 0 0 1rem;
    align-items: center;
    cursor: pointer;
}

.border-top {
    border-top: 0.0625rem solid #e1e1e1!important;
}

.request-btn {
    font-size: .875rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}


.profile-desc {
    display: -webkit-box;
    max-height: 5.142em;
    overflow: hidden;
    line-height: 1.5rem;
    font-size: .875rem;
    color: #737373;
    margin: 0;
}

