@charset "UTF-8";

#app-body {
	opacity: 1;
	height: 100;
	position: relative;
	flex-frow: 1;
}

.profile-header {
	background-image: url(../../static/image/how-to-use.jpg);
	height: 8.5rem;
	margin-bottom: 4rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	margin-left: -1.25rem;
	margin-right: -1.25rem;
}

.profile-header .backdrop {
	width: 100%;
	height: 100%;
	backdrop-filter: blur(0.9375rem);
}

.container {
	background-color: #fff;
	max-width: 73.125rem;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

.container>.row {
	padding: 0 6.25rem;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
	justify-content: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
}


.profile-section {
	max-width: 40.625rem;
	flex: 1 1 auto;
}

.no-gutters>[class*=col-] {
	padding-right: 0;
	padding-left: 0;
}

.col-lg-auto {
	width: auto;
}

.col-12 {
	position: relative;	
}

.profile-overview {
	padding-bottom: 3rem;
	width: 100%;
	position: relative;
}

.profile-overview .thumb {
	position: absolute;
	top: -9.5rem;
}

.profile-overview .thumb .user-profile-picture {
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 18px;
	overflow: hidden;
}

.user-profile-picture {
	position: relative;
}

.profile-overview .thumb .user-profile-picture .is-square {
    border-radius: 18px;
    background-image: url(../../static/image/how-to-use.jpg);
}

.user-profile-picture div.is-square {
    padding: 0;
    height: 100%;
    object-fit: contain;
}

.user-profile-picture div {
    position: relative;
    width: 100%;
    border: 0.0625rem solid #f2f2f2;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #e1e1e1;
}

.profile-overview .info {
	overflow: hidden;
}

.profile-overview .info .info-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-overview .info .info-section-header .nickname {
    width: 75%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-overview .info .info-section-header .share-button {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZD0iTTQuMDggMTUuNlYyMWgxNS44NHYtNS40TTYuMjQgOC41NzVMMTIgM2w1Ljc2IDUuNTc1TTEyIDE1LjZWMy4wMDIiIHN0cm9rZT0iIzMyMzIzMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIvPjwvZz48L3N2Zz4=) no-repeat 50%/contain;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #323232;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 0.0625rem solid transparent;
    padding: 0.6875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

button {
	text-transform: none;
	margin: 0;
    font-family: inherit;
}

.profile-overview .info .info-section-sub-header {
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
}

.profile-overview .info .info-section-sub-header .category {
    font-size: 1rem;
    line-height: 1.5rem;
    display: inline;
    margin-right: 0.5rem;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-overview .info .info-section-sub-header .address {
    position: relative;
    line-height: 1.5;
    letter-spacing: -.01875rem;
    color: #737373;
    font-size: .875rem;
    display: inline;
    padding-left: 1.4375rem;
}

.profile-overview .info .introduce {
    width: 37.5rem;
    color: #737373;
    font-size: 1rem;
    margin-top: 1.25rem;
}

.profile-overview .info .statistics-info {
    border-radius: 8px;
    display: flex;
    background-color: #fafafa;
    height: 5.5rem;
    margin-top: 1.625rem;
}

.profile-overview .info .statistics-info .statistics-info-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #323232;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-header {
    font-size: .875rem;
    display: flex;
    align-items: center;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-contents {
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.profile-overview .info .statistics-info .statistics-info-item.review-info {
    cursor: pointer;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-header.review-rate span[data-v-b77e0b70] {
    width: 0.75rem;
    height: 0.75rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLjY2NyAxMmgxMlYwaC0xMnoiLz48cGF0aCBzdHJva2U9IiNCNUI1QjUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNNC44OSAyLjdsMy42IDMuNi0zLjYgMy42Ii8+PC9nPjwvc3ZnPg==);
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-contents>img {
    height: 1.25rem;
    display: block;
    margin-right: 0.25rem;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-contents .rate {
    margin-right: 0.125rem;
}

.profile-overview .info .statistics-info .statistics-info-item .statistics-info-item-contents .count {
    font-size: .75rem;
    color: #737373;
    height: 80%;
    display: flex;
    align-items: flex-end;
    font-weight: 400;
}

.profile-body .background-block {
    display: none;
}

.sticky-nav {
    margin: 0 -1.25rem;
    padding: 0 0 0 1.25rem;
    font-size: .75rem;
    position: sticky;
    top: 4.5rem;
    background-color: #fff;
    z-index: 2;
    border-bottom: 0.0625rem solid #f2f2f2;
    display: block;
}

ul li {
    list-style: none;
}

.sticky-nav>li {
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: #737373;
}

.sticky-nav .active {
    border-bottom: 0.125rem solid #323232;
    font-weight: 700;
    color: #323232;
}

.sticky-nav>li+li {
    margin-left: 1.25rem;
}

.profile-body section {
    padding-bottom: 3.75rem;
    margin-bottom: 3.75rem;
    border-bottom: 0.0625rem solid rgba(0,0,0,.1);
}

.profile-body section>div {
    width: 100%;
    margin-top: 3.75rem;
}

.profile-body section:first-child>div:first-child {
    margin-top: 2.5rem;
}

.profile-provider-info .profile-provider-info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.profile-provider-info .profile-provider-info-title h2 {
    margin-bottom: 0;
}

.profile-provider-info .profile-provider-info-title button {
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #b5b5b5;
}

.profile-provider-info>ul {
    margin-bottom: 0;
}

.profile-provider-info>ul>li {
    position: relative;
    line-height: 1.5rem;
    letter-spacing: -.01875rem;
    color: #737373;
    text-indent: 1.875rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
}

.profile-provider-info>ul>li:before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    left: 0;
    top: 0.125rem;
}

.profile-provider-info>ul>li.business-size:before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAyMGgyMFYwSDB6Ii8+PHBhdGggZD0iTTIuMzY3IDE2LjQ5M3YtLjg0YTQuMjE3IDQuMjE3IDAgMDE0LjIxNy00LjIxN2gyLjk0NGE0LjIxNyA0LjIxNyAwIDAxNC4yMTcgNC4yMTd2Ljg0bS0zLjE2LTEwLjI5NWEyLjUyOSAyLjUyOSAwIDExLTUuMDU4LS4wMDEgMi41MjkgMi41MjkgMCAwMTUuMDU4IDB6bTcuOTM1IDguNzU5di0uNTg0YTIuOTM4IDIuOTM4IDAgMDAtMi45MzYtMi45MzhoLTEuMDI2bTEuNzE2LTQuNDdhMS43NjEgMS43NjEgMCAxMS0zLjUyMiAwIDEuNzYxIDEuNzYxIDAgMDEzLjUyMiAweiIgc3Ryb2tlPSIjNzM3MzczIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPjwvZz48L3N2Zz4=);
}

.profile-service-desc.collapsed .description {
    overflow: hidden;
    max-height: 25rem;
}

.profile-body section>div h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.03125rem;
    margin-bottom: 1rem;
    color: #323232;
}

.profile-service-desc .description {
    position: relative;
    font-size: 1rem;
    color: #737373;
    letter-spacing: -.0125rem;
    line-height: 1.5rem;
}

.profile-service-desc .description .gradient {
    display: none;
}

.header {
    display: flex;
    align-items: center;
}

img {
    vertical-align: middle;
}

.header img {
	width: 1rem;
	height: 1rem;
	object-fit: contain;
}

.header .title {
    font-weight: 700;
    font-size: 1rem;
    color: #7149C6;
    line-height: normal;
    margin: 0 0 0 0.5rem;
}


.profile-career .profile-career-item-wrap {
    margin-top: 1rem;
}

.career-list-item:first-of-type {
    margin-top: 0;
}

.career-list-item {
    display: flex;
    flex-direction: row;
}

.career-list-item .contents {
    flex: 0 1 100%;
}

.career-list-item .contents .header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: normal;
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
}

.career-list-item .contents .date-info {
    font-size: .75rem;
    color: #737373;
}

.career-list-item .contents div {
    margin: 0.25rem 0 0;
}

.profile-qna ul {
    display: inline-block;
    width: 100%;
    margin-bottom: -1.875rem;
}

.profile-qna ul li {
    position: relative;
    float: left;
    margin-bottom: 1.875rem;
    width: 100%;
}

.profile-qna ul li .question {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -.01875rem;
    color: #323232;
    margin-bottom: 0.25rem;
}

.collapsed-text-line {
    position: relative;
    font-size: 0;
}

.collapsed-text-line div.wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.profile-qna ul li .answer .wrapper p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.01875rem;
    color: #737373;
    word-break: break-all;
    margin: 0;
}

.profile-qna ul li .collapsed-text-line .collapse-button {
    position: relative;
    text-align: right;
    margin-top: 0.25rem;
}

.collapsed-text-line div.collapse-button {
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 20%);
    margin: 0;
}

.collapsed-text-line div.collapse-button span {
    color: #7149C6;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -.0125rem;
}

.collapsed-text-line div.collapse-button span {
    color: #7149C6;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -.0125rem;
}

[role=button] {
    cursor: pointer;
}

.profile-knowhow .profile-knowhow-item-wrap {
    margin: 0 -0.375rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
}

.profile-knowhow .profile-knowhow-item-wrap {
    margin: 0 -0.375rem;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.profile-knowhow .profile-knowhow-item-wrap li {
    padding: 0 0.375rem;
    margin-bottom: 1.25rem;
}

.profile-knowhow-image {
    width: 100%;
    padding-bottom: 66.7%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border: 0.0625rem solid #f2f2f2;
}

.profile-knowhow-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
}

.profile-knowhow-service {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25rem;
    margin-top: 0.5rem;
    font-size: .875rem;
    color: #737373;
}

.profile-knowhow-title {
    margin: 0.25rem 0 0;
    max-height: 3rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile-knowhow-title h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    word-break: break-word;
}






